<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techroot.bookdoctorstime"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.techroot.bookdoctorstime.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.techroot.bookdoctorstime.TabActivity"
            android:label="@string/title_activity_tab" >
        </activity>
        <activity
            android:name="com.techroot.bookdoctorstime.TabMainActivity"
            android:label="@string/title_activity_tab_main" >
        </activity>
        <activity
            android:name="com.techroot.bookdoctorstime.DoctorsNameSearchActivity"
            android:label="@string/title_activity_doctors_name_search" >
        </activity>
        <activity
            android:name="com.techroot.bookdoctorstime.SpecializationSearchActivity"
            android:label="@string/title_activity_specialization_search" >
        </activity>
        <activity
            android:name="com.techroot.bookdoctorstime.DoctorsProfileActivity"
            android:label="@string/title_activity_doctors_profile" >
        </activity>
        <activity
            android:name="com.techroot.bookdoctorstime.AppointmentActivity"
            android:label="@string/title_activity_appointment" >
        </activity>
        <activity
            android:name="com.techroot.bookdoctorstime.PatientDetailsActivity"
            android:label="@string/title_activity_patient_details" >
        </activity>
        <activity
            android:name="com.techroot.bookdoctorstime.DocAppmntDetailsActivity"
            android:label="@string/title_activity_doc_appmnt_details" >
        </activity>
        <activity
            android:name="com.techroot.bookdoctorstime.DoctorsDetailsProfileActivity"
            android:label="@string/title_activity_doctors_details_profile" >
        </activity>
    </application>

</manifest>
